#banner { 
	height: 130px;
    width: 1330px;
    position: fixed;
    z-index: 100;
}
#contenido {
	margin-top: 190px;
    margin-left: auto;
	margin-right: auto;
}

#navbar {
	margin-top: 130px;
}

#login {
	position: relative;
    border-color: #B4ABAB !important;
    border-radius: 0px;
    border-width: 2px;

}

#dropdown {
	background-color: #222;
    border-color: #080808;
    color: white;
}

#dropdown > li > a {
	color: white !important;
}

#dropdown > li > a:hover {
	color: black !important;
}

.badge {
	color: #FFFFFF !important;
    background-color: #CD0F0F !important;
}

.img {
	width: 200px;
	height: 200px;
}

.img_icon {
	width: 50px;
	height: 55px;
}

.img_icon_home {
	width: 200px;
    height: 200px;
    margin-bottom: -50px;
    margin-top: -50px;
    margin-left: -30px;
}

hr {
	border-top: 3px solid #4793DB !important;
	margin-top: 10px !important;
}

.button-black {
	color: white !important;
	background-color: black !important;
	border-color: #B4ABAB !important;
}

.button-grey {
    color: #4D4B4B !important;
    background-color: rgba(141,164,186,0.45)  !important;
    border-color: #7A9EC1!important;
	margin-top: 10px;
	margin-left: 55px;
	font-weight: bold !important;
}

.actualizar{
	border-radius: 50px !important;
}

.label_grey {
	background-color: #4D4B4B;
	width: 200px;
	padding: 8px 8px 8px 8px;
	border-radius: 10px !important;
	color: white;
}

#nue_tramite {
	background-color: rgba(141,164,186,0.45); /*0.45*/
    width: 500px;
    height: 40px;
}

.ti_tramite {
	font-weight: bold;
	color: #4D4B4B;
	text-align: center;
	vertical-align: middle;
    float: left;
    margin-left: 150px;
}

#panel_tramite {
	border: 2px solid rgba(141,164,186,0.45) !important;
	border-radius: 10px !important;
}

.cancelar {
	border-radius: 50px !important;
	margin-left: 0px !important;
	background-color: rgba(141,164,186,0.45) !important;
	color: #4D4B4B !important;
}

.continuar {
	border-radius: 50px !important;
	margin-left: 0px !important;
	background-color: rgba(141,164,186,0.45) !important;
	color: #4D4B4B !important;
}

  